<%- include('../partials/head.ejs') %>

<form action="/admin/logout">
<fieldset class="designer">
  <h2>De verhalen van <%= session.fullname %></h2>

  <ol>
  <% for(let i = 0; i < stories.length; i++) { %>
    <li>
      <a href="/admin/mod/<%= stories[i].verhaalId %>">
        <div><img src="/uploads/<%= stories[i].imgMedium %>"></div>
        <%= stories[i].titel %>
      </a>
    </li>
  <% } %>
  </ol>
  <button type="submit" value="logout" onclick="">log uit</button>

</fieldset>
</form>

<%- include('../partials/foot.ejs') %>
