<%- include('../partials/head.ejs') %>

<form action="/admin/logout">
<fieldset class="designer">
  <h2>De verhalen van <%= session.fullname %></h2>

  <ol>
  <% for(let i = 0; i < stories.length; i++) { %>
    <li>
      <a href="/admin/mod/<%= stories[i].verhaalId %>">
        <div><img src="/uploads/<%= stories[i].imgMedium %>"></div>
        <%= stories[i].titel %>
      </a>
    </li>
  <% } %>
  </ol>
  <button type="submit" value="logout" onclick="">log uit</button>

</fieldset>
</form>


<form action="/admin/mod/add" method="post">
<fieldset class=description>
  <h2>Vormgeving beschrijving</h2>
  <p>Upload hier de responsive vormgeving van één verhaal in .jpg of .png. Beschrijf je vormgeving met het sfeerwoord, een paar tags, en de vormgeving specificaties. Upload 4 verschillende versies per verhaal voor verschillende apparaten: Small, Medium, Large en XLarge. Noteer per versie de minimale scherm-breedte.</p>
  <input type="hidden" name="vak" value="Blokweb1516">
  <label>Verhaal nr:   <input type="number" name="verhaalnr" value="" placeholder="99"></label>
  <label>Genre:        <input type="text" name="genre" value="" placeholder=""></label>
  <label>Sfeerwoord:   <input type=text"" name="sfeerwoord" value="" placeholder=""></label>
  <label>Tags:         <input type="text" name="tags" value="" placeholder="tags,tags,tags"> (comma seperated)</label>
  <label>Typografie:   <input type="text" name="typeDisplay" value="" placeholder=display>
                       <input type="text" name="typeCopyText" value="" placeholder="copy text"></label>
  <label>Font ratio:   <input type="number" name="fontRatio" value="" placeholder="1.16"></label>
  <label>Kleurgebruik: <input type="color" name="color_one" value="" placeholder="">
                       <input type="color" name="color_two" value="" placeholder="">
                       <input type="color" name="color_three" value="" placeholder=""> (web-safe hex colors)</label>
</fieldset>

<fieldset class=upload>
  <h2>Upload for Small screens</h2>
  <label><input type="file" name="imgSmall"></label>
  <label>Minimale schermbreedte <input type="number" name="sizeSmall" value="" placeholder="in em"> em</label>
</fieldset>
 <fieldset class=upload>
   <h2>Upload for Medium screens</h2>
  <label><input type="file" name="imgMedium"></label>
  <label>Minimale schermbreedte <input type="number" name="sizeMedium" value="" placeholder="in em"> em</label>
</fieldset>
<fieldset class=upload>
  <h2>Upload for Large screens</h2>
  <label><input type="file" name="imgLarge"></label>
  <label>Minimale schermbreedte <input type="number" name="sizeLarge" value="" placeholder="in em"> em</label>
</fieldset>
<fieldset class=upload>
  <h2>Upload XLarge screens</h2>
  <label><input type="file" name="imgXLarge"></label>
  <label>Minimale schermbreedte <input type="number" name="sizeXLarge" value="" placeholder="in em"> em</label>
</fieldset>

<fieldset class=submit>
  <button type="submit" value="update">verhaal opslaan</button>
  <button type="submit" value="delete">verhaal verwijderen</button
</fieldset>
</form>

<%- include('../partials/foot.ejs') %>
